*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-80deg, rgb(51, 41, 41) 50%, rgb(107, 56, 56));
}
.logo{
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 2s ease forwards;
    animation-delay: 1s;
    font-size: 16px;
    color: red;
    display: flex;
}
.burger{
    animation-delay: 5s;
}
@keyframes slideIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIinLeft{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.slam{
    display: none;
}
.slam ul li a:hover{
    color: black;
    border-bottom: 2px solid black;
}
.slam ul{
    text-decoration: none;
    margin-right: 15px;
    margin-top: 10px;
    gap: 20px;
    list-style-type: none;
    display: flex;
}
.slam ul li a{
     opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 2s ease forwards;
    animation-delay: 1s;
    text-decoration: none;
    color: var(--accent-teal);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.menu img{
    animation-delay: 1s;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 1s ease forwards;
    margin: 5px 5px;
    width: 120px;
}
.burger{
    display: inline-block;
    animation-delay: 1s;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 3s ease forwards;
    margin: 5px 0px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0px 10px;
    cursor: pointer;
}
.line{
    animation-delay: 1s;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 3s ease forwards;
    background-color: bisque;
    text-align: center;
    margin: 14px 0px;
    width: 50px;
    height: 5px;
}
.ham{
    border: 2px solid red;
    border-radius: 15px;
    color: red;
    background-color: #2c8578;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 165px;
    height: 380px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: -250px;
    transition: right 1s ease;
}
.ham.active{
    z-index: 10;
    right: 0;
}
.ham ul{
    list-style: none;
    padding: 0;
}
.ham ul li{
    margin-top: 25px;
}
.ham ul li a{
    color: red;
    text-decoration: none;
}
.ham ul li a:hover{
    border-bottom: 2px solid red;
}
.taust{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.tausta-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.video-info{
    padding: 10px;
    position:absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 0 12px rgba(255,255,255,0.9);
    background: rgba(0,0,0,0.35);
    border-radius: 10px;
}
#next{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255,87,34,0.8);
    color: white;
    border: none;
    border-radius: 5px;
}
.algus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(130deg, rgb(51, 41, 41) 50%, rgb(107, 56, 56));
    height: 100px;
    margin: 20px auto;
    width: 80%;
}
.algus h1{
    align-items: center;
    margin-top: 15px;
    text-align: center;
    color: #FFFF;
    font-size: 17px;
}
.algus h4{
    color:#FFFF;
    margin-top: 15px;
    font-size: 13px;
}
.cta{
    text-align: center;
}
.cta-text{
    margin-top: 25px;
    text-align: center;
}
.cta-text h2{
    letter-spacing: 1.3px;
    color: white;
    font-weight: 200;
    font-size: 20px;
}
.cta button{
    letter-spacing: 1px;
    width: 150px;
    text-transform: uppercase;
    color: white;
    border: 2px solid  rgba(255,87,34,0.8);
    cursor: pointer;
    background-color:  rgba(255,87,34,0.8);
    border-radius: 25px;
    padding: 15px 10px;
    margin-top: 25px;
}
.cta-text p{
    letter-spacing: 1.3px;
    font-size: 13px;
    font-weight: 300;
    color: black;
    margin-top: 15px;
}
.cta button:hover{
    border: 2px solid white;
    box-shadow: 5px 8px 10px 5px #34363c;
    color:  rgba(80, 23, 5, 0.8);
}
.modal-overlay{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-overlay.active{
    opacity: 1;
    pointer-events: all;
}
.modal{
    position: relative;
    background: linear-gradient(130deg, rgb(51, 41, 41) 50%, rgb(107, 56, 56));
    padding: 10px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
}
.sulgemine{
    position: absolute;
    top: -10px;
    right: 5px;
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
}
.sulgemine:hover{
    color: white;
}
.modal input,
.modal textarea,
.modal select{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit{
    border-radius: 15px;
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    color:rgba(255,87,34,0.8);
    background-color: black;
}
.submit:hover{
    color: white;
    border: 2px solid rgba(255,87,34,0.8);
}
input:focus{
    outline: none;
    border: 2px solid rgba(255,87,34,0.8);
}
.juhatus{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 80%;
    margin: 20px auto;
    text-shadow: 0 0 12px rgba(255,255,255,0.9);
    background: rgba(0,0,0,0.35);
    margin-top: 25px;
    text-align: center;
    color: white;
}
.juhatus h3{
    margin-top: 15px;
    font-size: 30px;
    text-transform: uppercase;
}
.juhatus p {
    width: 80%;
    margin: 20px auto;
}

.features-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* vahe ridade vahel */
    padding: 20px;
}

.feature-row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.feature-row.reverse {
    flex-direction: row-reverse;
}

.vid-taust {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.cmng-soon {
    max-width: 400px;
    color: white;
}

.cmng-soon h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cmng-soon p {
    font-size: 16px;
}
.joon{
    margin-top: 15px;
}

footer{
    text-align: center;
    color: white;
}